.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    z-index: 999;
    visibility: visible;
    background-color: var(--it-common-white);
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    box-shadow: 0px 1px 3px 0px rgba(18, 20, 32, 0.14);
}