:root {
  /**
  @font family declaration
  */
  --it-ff-body: 'Sora', sans-serif;
  --it-ff-heading: 'Epilogue', sans-serif;
  /**
  @color declaration
  */
  --it-common-white: #ffffff;
  --it-common-black: #0E2A46;
  --it-common-black-2: #4D5756;
  --it-heading-primary: #0E2A46;
  --it-grey-1: #F2F2F2;
  --it-grey-2: #F3F5F5;
  --it-grey-3: #F9F6EF;
  --it-text-body: #333931;
  --it-theme-1: #0AB99D;
}


body {
  font-family: var(--it-ff-body);
  font-size: 17px;
  font-weight: 400;
  color: var(--it-text-body);
  line-height: 32px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--it-ff-heading);
  color: var(--it-heading-primary);
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

body, html {
  overflow-x: hidden;
}



a {
  text-decoration: none;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--it-ff-heading);
  color: var(--it-heading-primary);
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  color: var(--it-text-body);
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
}


/* ===================================================================
 * # preloader
 *
 * ------------------------------------------------------------------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #050505;
    z-index: 800;
    height: 100%;
    width: 100%;
    display: table;
}

.no-js #preloader, .oldie #preloader {
    display: none;
}

#loader {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.line-scale-pulse-out > div {
    background-color: var(--it-theme-1);
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
    animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
    -webkit-animation-delay: -0.4s !important;
    animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
    -webkit-animation-delay: -0.2s !important;
    animation-delay: -0.2s !important;
}

@keyframes line-scale-pulse-out {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
    50% {
        -webkit-transform: scaley(0.4);
        transform: scaley(0.4);
    }
    100% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}
html.cl-preload .home-content__main {
    opacity: 0;
}


/*Main Naviation*/

.main-navigation ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 19px;
    position: relative;
}

.main-navigation ul li > a {
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
    padding: 21px 0;
    display: inline-block;
    text-transform: capitalize;
    font-family: var(--it-ff-heading);
    color: var(--it-common-black);
}

.main-navigation ul li > .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 260px;
    text-align: left;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transition-duration: 0.1s;
    transform-origin: top;
    -webkit-transform: perspective(300px) rotateX(-18deg);
    -moz-transform: perspective(300px) rotateX(-18deg);
    -ms-transform: perspective(300px) rotateX(-18deg);
    -o-transform: perspective(300px) rotateX(-18deg);
    transform: perspective(300px) rotateX(-18deg);
    border-top: 4px solid var(--it-theme-1);
    background-color: var(--it-common-black);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 9999;
}

.main-navigation ul li:hover > .sub-menu, .main-navigation ul li:focus-within > .sub-menu {
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
    -webkit-transform: perspective(300px) rotateX(0deg);
    -moz-transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -o-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg);
}

.main-navigation ul li > .sub-menu > li > a {
    display: inline-block;
    padding: 0;
    font-weight: 700;
    color: var(--it-common-white);
    transition: 0.3s;
    position: relative;
}

/*offcanvas css*/
.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.45s ease-in-out;
}
.body-overlay.apply {
  opacity: 1;
  visibility: visible;
}
.body-overlay:hover {
  cursor: url(../img/cross-out.png), pointer;
}

.itoffcanvas {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: -100%;
  width: 480px;
  bottom: 0;
  box-shadow: 0 16px -32px 0 rgba(0, 0, 0, 0.8);
  background-color: var(--it-common-black);
  z-index: 9999;
  padding: 50px;
  scrollbar-width: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s ease-in-out;
  overflow-y: scroll;
}
.itoffcanvas.opened {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .itoffcanvas {
    width: 300px;
    padding: 40px 35px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .itoffcanvas {
    width: 400px;
    padding: 40px;
  }
}
.itoffcanvas.opened {
  right: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 0.6s;
}
.itoffcanvas__logo {
  margin-bottom: 60px;
}
@media (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .itoffcanvas__logo {
    padding-top: 0;
  }
}
.itoffcanvas__logo img {
  width: 157px;
  height: 100%;
}
.itoffcanvas__close-btn button {
  font-size: 35px;
  color: var(--it-common-black);
  position: absolute;
  right: 50px;
  top: 42px;
  transition: 1s;
  font-weight: 300;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 0.3s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .itoffcanvas__close-btn button {
    font-size: 28px;
    right: 48px;
    top: 52px;
  }
}
@media (max-width: 767px) {
  .itoffcanvas__close-btn button {
    font-size: 20px;
    right: 39px;
    top: 38px;
  }
}
.itoffcanvas__close-btn button:hover {
  color: #fff;
  opacity: 1;
}
.itoffcanvas__content {
  margin-bottom: 30px;
}
.itoffcanvas__content p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 25px;
}
.itoffcanvas__content span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}
.itoffcanvas__content a {
  font-size: 30px;
  line-height: 51px;
  font-weight: 700;
  color: var(--it-common-white);
  display: inline-block;
}
@media (max-width: 767px) {
  .itoffcanvas__content a {
    font-size: 27px;
  }
}
.itoffcanvas__social {
  margin-top: 50px;
}
.itoffcanvas__social .social-icon a {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  background-color: var(--it-theme-1);
  color: var(--it-common-white);
  margin-right: 15px;
  transition: 0.3s;
  display: inline-block;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .itoffcanvas__social .social-icon a {
    margin-right: 3px;
  }
}
.itoffcanvas__social .social-icon a:hover {
  background-color: var(--it-theme-1);
  color: var(--it-common-white);
}
.itoffcanvas__text {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .itoffcanvas__text {
    display: none;
  }
}
.itoffcanvas__text p {
  color: #ddd;
  font-size: 18px;
}
.itoffcanvas__info {
  border-bottom: 1px solid #3b3838;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.itoffcanvas__info .offcanva-title {
  color: var(--it-common-white);
  margin: 30px 0 40px 0;
  font-size: 20px;
  font-weight: 600;
}
.itoffcanvas__info-icon a {
  height: 50px;
  width: 50px;
  background-color: var(--it-theme-1);
  color: var(--it-common-white);
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 21px;
  margin-right: 20px;
}
.itoffcanvas__info-address span {
  display: block;
  color: rgba(255, 255, 255, 0.6392156863);
  font-size: 16px;
  font-weight: 400;
}
.itoffcanvas__info-address a {
  display: block;
  color: var(--it-common-white);
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .itoffcanvas__info-address a {
    font-size: 16px;
  }
}
.itoffcanvas__info-address a:hover {
  color: var(--it-theme-1);
}

.it-offcanva-bottom-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.it-offcanva-bottom-shape img {
  width: 100%;
}

/*Mobile Menu css*/


/*----------------------------------------*/
/*  21. mobile-menu css start
/*----------------------------------------*/
.it-header-2-main-menu nav ul li .has-home-img {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  padding: 30px 30px 10px 30px;
  background-color: var(--it-common-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
}
.it-header-2-main-menu nav ul li .has-home-img .home-img {
  padding: 0px 10px;
  position: relative;
  margin-bottom: 10px;
}
.it-header-2-main-menu nav ul li .has-home-img .home-img-title {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  color: var(--it-common-black);
}
.it-header-2-main-menu nav ul li .has-home-img .home-img-title a {
  background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  display: inline;
  background-size: 0% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
}
.it-header-2-main-menu nav ul li .has-home-img .home-img-title:hover a {
  background-size: 0% 1px, 100% 1px;
}

.it-header-2-main-menu nav > ul > li.p-static {
  position: static;
}

.it-heder-menu-4__main-menu-box nav ul li .has-home-img {
  width: 810px;
  opacity: 0;
  visibility: hidden;
  padding: 30px 30px 10px 30px;
  background-color: var(--it-common-white);
  position: absolute;
  left: -25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.it-heder-menu-4__main-menu-box nav ul li .has-home-img .home-img {
  padding: 0px 10px;
  position: relative;
  margin-bottom: 10px;
}
.it-heder-menu-4__main-menu-box nav ul li .has-home-img > .home-img-title {
  color: var(--it-theme-3);
}

.home-img-btn {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.home-img-thumb {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.home-img-thumb:hover .home-img-btn {
  opacity: 1;
  visibility: visible;
  bottom: 50%;
  transform: translateY(50%);
}

.it-menu-mobile .it-sub-menu {
  display: none;
}
.it-menu-mobile .it-menu-content {
  margin-bottom: 70px;
}
.it-menu-mobile .home-img {
  margin-bottom: 40px;
}
.it-menu-mobile ul {
  position: static;
  display: block;
  box-shadow: none;
}
.it-menu-mobile ul li {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0;
}
.it-menu-mobile ul li:not(:last-child) > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.it-menu-mobile ul li.menu-item-has-children > a .dropdown-toggle-btn {
  position: absolute;
  right: 0;
  top: 25%;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  font-size: 18px;
  color: #7F8387;
  font-family: "Font Awesome 5 Pro";
  transition: all 0.3s ease-in-out;
  z-index: 1;
  width: 25px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.it-menu-mobile ul li.menu-item-has-children > a .dropdown-toggle-btn i {
  transition: all 0.3s ease-in-out;
  margin-left: 2px;
}
.it-menu-mobile ul li.menu-item-has-children > a .dropdown-toggle-btn.dropdown-opened i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.it-menu-mobile ul li.menu-item-has-children > a .dropdown-toggle-btn:hover {
  background-color: var(--it-theme-1);
  border-color: var(--it-theme-1);
  color: var(--it-common-white);
}
.it-menu-mobile ul li.menu-item-has-children > a .dropdown-toggle-btn:hover i {
  color: var(--it-common-white);
}
.it-menu-mobile ul li.menu-item-has-children > a.expanded {
  color: var(--it-theme-1);
}
.it-menu-mobile ul li.menu-item-has-children > a.expanded .dropdown-toggle-btn.dropdown-opened {
  background-color: var(--it-theme-1);
  border-color: var(--it-theme-1);
  color: var(--it-common-white);
}
.it-menu-mobile ul li.menu-item-has-children > a.expanded .dropdown-toggle-btn.dropdown-opened i {
  color: var(--it-common-white);
}
.it-menu-mobile ul li.menu-item-has-children:hover > a::after {
  color: var(--it-theme-green);
}
.it-menu-mobile ul li:last-child a span {
  border-bottom: 0;
}
.it-menu-mobile ul li > a {
  display: block;
  font-size: 16px;
  color: var(--it-common-white);
  position: relative;
  padding: 10px 0;
  padding-right: 20px;
  text-transform: capitalize;
}
.it-menu-mobile ul li > a svg {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.it-menu-mobile ul li > a > i {
  display: inline-block;
  width: 11%;
  margin-right: 13px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
  font-size: 21px;
  line-height: 1;
}
.it-menu-mobile ul li > a .menu-text {
  font-size: 16px;
  line-height: 11px;
  border-bottom: 1px solid #EAEBED;
  width: 82%;
  display: inline-block;
  padding: 19px 0 17px;
}
.it-menu-mobile ul li img {
  width: 100%;
}
.it-menu-mobile ul li ul {
  padding: 0;
}
.it-menu-mobile ul li ul li {
  padding: 0;
}
.it-menu-mobile .it-menu-content.main-navigation ul li ul li a {
  margin-left: auto;
  width: 93%;
  padding: 10px 5%;
  text-shadow: none !important;
  visibility: visible;
  padding-left: 0;
  padding-right: 20px;
}
.it-menu-mobile ul li ul li li a {
  width: 88%;
  padding: 10px 7%;
  padding-left: 0;
  padding-right: 20px;
}
.it-menu-mobile ul li ul li li li a {
  width: 83%;
  padding: 10px 9%;
  padding-left: 0;
  padding-right: 20px;
}
.it-menu-mobile ul li ul li li li li a {
  width: 68%;
  padding: 10px 11%;
  padding-left: 0;
  padding-right: 20px;
}
.it-menu-mobile ul li:hover > a {
  color: var(--it-theme-1);
}
.it-menu-mobile ul li:hover > a::after {
  color: var(--it-theme-1);
}
.it-menu-mobile ul li:hover > a .dropdown-toggle-btn i {
  color: var(--it-theme-1);
}
.it-menu-mobile ul li:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  top: 0;
}
.it-menu-mobile ul li .mega-menu, .it-menu-mobile ul li .sub-menu {
  position: static;
  min-width: 100%;
  padding: 0;
  box-shadow: none;
  visibility: visible;
  opacity: 1;
  display: none;
}
.it-menu-mobile ul li .mega-menu li, .it-menu-mobile ul li .sub-menu li {
  float: none;
  display: block;
  width: 100%;
  padding: 0;
}
.it-menu-mobile ul li .mega-menu li:hover a .dropdown-toggle-btn, .it-menu-mobile ul li .sub-menu li:hover a .dropdown-toggle-btn {
  color: var(--it-theme-1);
}
.it-menu-mobile .it-menu-content ul li:not(:last-child) .home-img-title a {
  border-bottom: none;
}
.it-menu-mobile * ul, .it-menu-mobile * li {
  transition: none !important;
}

.it-header-2-main-menu ul li > .sub-menu.has-megamenu {
  left: -500px;
  width: 1000px;
  padding-left: 120px;
}
.it-header-2-main-menu ul li > .sub-menu.has-megamenu li {
  width: 33.33%;
  float: left;
}

.it-header-2-main-menu ul li.active > a {
  color: var(--it-theme-1);
}
.it-header-2-main-menu ul li.active.menu-item-has-children::after {
  color: var(--it-theme-1);
}

.it-header-2-style .it-header-2-main-menu ul li.active > a {
  color: var(--it-theme-4);
}
.it-header-2-style .it-header-2-main-menu ul li.active.menu-item-has-children::after {
  color: var(--it-theme-4);
}

.it-header-3-style .it-header-2-main-menu ul li.active > a {
  color: var(--it-common-yellow);
}
.it-header-3-style .it-header-2-main-menu ul li.active.menu-item-has-children::after {
  color: var(--it-common-yellow);
}

.it-header-5-style .it-header-2-main-menu ul li.active > a {
  color: var(--it-common-yellow);
}
.it-header-5-style .it-header-2-main-menu ul li.active.menu-item-has-children::after {
  color: var(--it-common-yellow);

}
.right-area .it-header-2-bar button.it-menu-bar {
    background: var(--it-theme-1);
    color: var(--it-common-white) ;
    border: none ;
}

.it-menu-mobile .main-navigation ul li > .sub-menu {
    border-top: 0;
    background-color: transparent;
}

.it-header-2-bar button {
    height: 40px;
    width: 40px;
    color: var(--it-common-white);
    background-color: var(--it-theme-1);
    border-radius: 5px;
    margin: 10px 0;
    margin-left: 20px;
}

.it-menu-mobile ul li:not(:last-child)  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.right-area .icon a {
    border: 1px solid var(--it-theme-1);
    padding: 3px;
    margin-left: 10px;
}

.keno-search-icon.icon button.btn.btn-primary, .keno-search-modal 
 button.close {
    background: var(--it-theme-1);
    border: none;
    transition: .3s all;
    color: #fff;
}
.keno-search-icon.icon button.btn:hover, .keno-search-modal 
 button.close:hover, .keno-search-modal button.search-submit:hover{
  opacity: .8;
}

.keno-search-modal 
 button.close{
  padding: 8px;
 }

 .keno-search-modal .modal-header {
    border-bottom: 1px solid var(--it-theme-1);
}

 .keno-search-modal .modal-body label {
    width: 100%;
}
 .keno-search-modal .modal-body label input {
    width: 100%;
    padding: 15px 30px;
}

 .keno-search-modal .modal-body label input:focus {
    outline: 1px solid var(--it-theme-1);
}

 .keno-search-modal button.search-submit {
    position: absolute;
    right: 15px;
    padding: 15px 30px;
    border: 1px solid transparent;
    background: var(--it-theme-1);
    color: #fff;
    transition: .3s all;
}

/*Breadcrumb Css*/
.keno-breadcrumb {
    padding: 80px 0;
    background: linear-gradient(135deg, #d3def0, #0AB99D);
    color: #fff;
    margin-top: 5px;
}

section.error-404.not-found.text-center {
    padding: 80px 0;
}

section.error-404.not-found.text-center header {
    margin-bottom: 30px;
}
.keno-theme-btn, .keno-page button.wc-block-components-checkout-place-order-button, {
    background: var(--it-theme-1);
    padding: 20px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
}
.wc-block-cart__submit-container {
    background: var(--it-theme-1);
    padding: 20px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}
.wc-block-cart__submit-container a{
  color:#fff;
}
.keno-page button{
  border: none;
}

.keno-page {
    padding: 80px 0;
}

section.header {
    box-shadow: 0 0 4px #d3def0;
}






